body {
  background: #001e1f;
}

.page-title {
  text-align: center;
  color: #00ffd5;

}

hr{
  height: 1px;
  color: #00ffdf;
  background-color: #00ffdf;
  border: none;
  margin-bottom:35px;

}

.intro-title {
  color: #00ffd5;
  display: flex;
  justify-content: space-evenly;
}

.items {
  width: 300px;
  border: 4px solid green;
  padding: 50px;
  margin: 25px;
  background: white;
  height: 120px;
  width: 120px;
}

.column {
  display: flex;
  justify-content: space-evenly;
  color: #00ffdf;


}
