body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html,header {
  padding: 0;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

header {
  background-color: blue;
  flex: 0 0 40px;
  color: white;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: red;
  flex: 0 0 40px;
  color: white;
  padding: 20px;
  text-align: center;
}

article {
  border-radius: 5px;
  background-color: #efefef;
  margin-bottom: 20px;
  text-align: center;
}

aside {
background-color: lightblue;
flex: 0 0 40px;
padding: 20px;
text-align: center;
}
