body {
background:  red;
}

.page-container {
  background:  brown;
}


.page-title {
  position: relative;
  margin: auto;
  margin-left: 50px;
  margin-right:50px;

}

.menu-box {
  color:  white;
  position: absolute;
  top: 150px;
   left: 250px;

}

img {
height: 100%;
width:100%;
}

.header-title {
  display: flex;
  justify-content: space-evenly;
  
}
