body {
  background-color: red;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

hr {
  border: solid 2px green;
}

.text {
  border: solid 1px;
  background-color: #2ea4cc;
}
