.header {
  background: #cbc693;
}

.parent {
  display: flex;
  background: #cbc693;
  justify-content: flex-end;
  color:#fffff7;

}

.header-menu {
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: #fffff7;
  bottom: 440px;
}

.fa-chevron-circle-right {
  margin: 16px;
}

img {
  width: 35px;
  height: 35px;
  border-width: medium;
}
.page-container {
  padding-left: 160px;
  padding-right: 160px;
}

.page-title {
  font-size: 30px;
  font-family: sans-serif;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cbc693;
    margin:1em 0;
    padding:0;
}
